@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

*, 
*:before, 
*:after { 
	box-sizing: border-box;
}

html, 
body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
	
body {
  font: normal 18px/25px 'RobotoRegular', Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	display: grid;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.page-content {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto auto;
	flex-shrink: 0;
	flex: 1 0 auto;
}

.page-content__wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.list__wrapper {
	display: flex;
	justify-content: flex-start;
}
	
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	min-width: 300px;
}
	
h1 {
  font-size: 36px;
}
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.input-group,
.list__wrapper ul > li {
	display: flex;
  align-items: center;
	margin-bottom: 7px;
  width: 100%;
  height: auto;
  position: relative;
}

input[type="text"] {
	-webkit-appearance: none;
  -moz-appearance: none;
  width: 60%;
  border-radius: 7px;
  padding: 6px 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  border: 0.1rem solid #000;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
	font-size: 18px;
}

input[type="text"]:hover {
  border-color: #355E3B;
}

input[type="checkbox"] {
	-webkit-appearance: none;
  -moz-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 7px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 2px solid #000;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="checkbox"]:hover {
  border-color: #355E3B;
}

input[type="checkbox"]:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 14px;
  border: 3px solid #fff;
  border-top: 0;
  border-left: 0;
  top: 1px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
  background: #4F7942;
  border: 2px solid #4F7942;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked:after {
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
}

input[type="checkbox"] + label {
	margin-top: 2px;
	margin-left: 10px;
}

p.comment {
	margin-top: 50px;
	color: gray;
	font-size: 15px;
}

#poll-content ul {
	margin-left: 33%;
}

.add-suggestion__wrapper {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-left: 33%;
}

.add-suggestion__block {
	display: flex;
	align-content: center;
	margin-top: 10px;
}

#suggestions li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#suggestions li input + label {
	margin-left: 3px;
}

#suggestions li button,
.add-suggestion__wrapper button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	height: 36px;
	padding: 0;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	text-decoration: none;
	font: normal 18px/21px 'RobotoRegular', Helvetica, Arial, sans-serif;
}

#suggestions li button svg {
	margin-top: -2px;
}

.add-suggestion__wrapper button span {
	margin-top: 3px;
	margin-left: 3px;
}

.add-suggestion__block button {
	display: inline-flex;
}

#suggestions li .delete-suggestion__wrapper {
	margin-left: 10px;
}

.add-suggestion__block button {
	margin-left: 10px;
}

.add-suggestion__button {
	margin-top: 10px;
}

#add-suggestion:hover span {
	border-bottom: 2px solid #355E3B;
}

#add-suggestion:hover svg {
	fill: #355E3B;
}

.remove-suggestion:hover span {
	border-bottom: 2px solid #FF5733;
}

.remove-suggestion:hover svg {
	fill: #FF5733;
}

.buttonbar__wrapper {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-content: center;
	margin-top: 20px;;
}

.buttonbar__wrapper .button {
	margin: 5px 0 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 7px;
	line-height: 18px;
	background: none;
	border: 2px solid #000;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font: normal 18px/1 'RobotoRegular', Helvetica, Arial, sans-serif;
	min-width: 100px;
	min-height: 50px;
}

.buttonbar__wrapper .button:hover {
	border-color: #355E3B;
	color: #355E3B;
	font-weight: bold;
}

.graph__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.graph__container {
	position: relative;
  margin: auto;
  width: 100%;
}

.-hidden {
	display: none !important;
}

@media screen and (max-width: 767px) {
	#poll-content ul,
	.add-suggestion__wrapper {
		margin-left: 0;
	}

	input[type="text"] {
		width: 80%;
	}

	.results-columns__wrapper {
		flex-direction: column;
	}
}